################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/PrintInputApp
/Tests/obj
/Tests/bin/Debug/net8.0
